*{
    text-transform: uppercase;
    font-weight: bold;
}

html{
   background-image: url("./Imagenes/image-from-rawpixel-id-513083-jpeg.jpg");
   background-size: 40em;
   height: 100%;
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
body>div:first-of-type{
    margin: 1em;
}

body>div:last-of-type{
    margin-top: 2em;
}
body{
    margin: 0 2em;
    padding: 1em;
    background-color: #fff9d2;
    border-radius: 10px;
}

#contdraw{
    background-color: #ffc577;
    text-align: center;
    width: 4em;
    border-radius: 10px;
    margin-bottom: 0.5em;
    margin-top: 0.3em;
    font-family: 'Sacramento' !important;
}

#contdraw>div{
    padding:0.5em;
    background-color: lightgoldenrodyellow;
    margin: 0.85em 0.5em; 
    font-size: 1.2em;
    border: 3px solid transparent;
    box-shadow: 0px 4px 5px 2px #cc9751;
    border-radius: 4px;
}

#contdraw>div:focus{
    background-color: black;
    border: 3px solid white;
    color: white;
}

#contdrop>div>div{
    position: relative;
    top:35%;
    font-family: 'Sacramento', cursive !important;
    border: 3px solid transparent;
}

#contdrop>div:focus{
    border: 3px solid black;
    border-radius: 0.5em;
    outline: none;
}

p{
    font-size: 1.4em;
    margin: 1em 0
}

img{
    /*3-4?*/
    width: 3em;
    padding: 0.5em 0em; margin: 0.6em 0.1em;
}
h1{
    text-align: center;
    font-size: 3.5em;
    margin: 0.3em !important;
    font-family: 'Amatic SC', cursive;
}
.drop>div{
    background-size: contain;
    width: 3.5em;
    height: 3.5em; 
    margin: 0.65em 0;
    border-radius: 10px;
    border: 0.2em dashed #ffac3a;
    text-align: center;
}

body>div{
    display: flex;
    flex-flow: row;
    padding: 0 1em;
    justify-content:center
}
#contdrop, #contdraw{
    display: flex;
    flex-flow: column;
    margin-right: 5em;
}


#contdrop>div>img{
    position: relative;
    bottom: 30px;
    left: 40%;
}
#contpelota{
    display: flex;
    flex-flow: column;
    margin-right: 1em;
    margin-top: 0.25em;
}
#contpelota>div>img{
    float: right;
}
#contpelota>div>img:first-of-type{
    width: 2em;
    padding-top: 1em;
    margin-left: 0.5em;
}
.boton{
    margin: 0.3em 1.5em;
    font-size: 2em;
    padding: 0.2em 0.5em;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 5px 10px 5px #aaa; 
    font-family: 'Amatic SC', cursive !important;
    cursor: pointer;
}

.correcto{
    background-color:  rgb(185, 255, 120) !important;
    border-color: rgb(185, 255, 120) !important;
}
.correcto:focus{
  border: black solid 3px !important;
}

.correcto>div{
    top:-110% !important;
}
.drop-hover{
    opacity: 0.6;
    background-color: #ffac3a;
   /* background-image: none;*/
}
body>div:last-of-type{
    justify-content: space-around !important;
}
a{
    text-decoration: none;
    color: black;
}
#rejugar{
    display: none;
}




.swal-modal{
    height: fit-content !important;
    margin: auto; /* Metido por la Judis*/
}
div.swal-footer{
    text-align: center !important;
}
.swal-button,.swal-button:focus{
    background-color: #ffc577;
    box-shadow: 0px 5px 10px 5px #aaa; 
}
.swal-button:hover{
    background-color: #ffb959 !important;
    border-color: #ffb959 !important;
    box-shadow: 0px 0px !important;
}

.swal-button:focus{
    background-color: black !important;
    border-color: white !important;
    box-shadow: 0px 0px !important;
}s

.boton{
    float: right;
    margin: 0.5em;
    font-size: 2em;
    padding: 0.3em 0.5em;
    border-radius: 5px;
    border: 3px solid transparent;
    background-color: #b5e8ff;
    border-color: #b5e8ff;
    font-weight: bold; 
    box-shadow: 0px 5px 10px 5px #aaa; 
    font-family: 'Amatic SC', cursive !important;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.boton:hover{
    background-color: #87d9ff;
    border-color: #87d9ff;
    box-shadow: 0px 0px;
}

.boton:focus{
    background-color: black;
    border: 3px solid white;
    color: white;
    border-radius: 0.25em;
    outline: none;
}

.oculto{
    display: none;
}
/* subtitulos */
#subtitulos{
    margin:auto;
    /*position: absolute;
    left: 200px;
    bottom: 80px;*/
    font-size: 1.5em;
    width: fit-content;
    font-family: 'Amatic SC', cursive;
}

/**************************************/

#mano1,#mano5{
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    position: absolute;
    z-index: 1;
}

#mano3,#mano7{
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    position: absolute;
    z-index: 1;
}
#mano2, #mano4,#mano6{
    z-index: 1;
    position: absolute;
}

.anim1{
    animation-duration: 1s;
    animation-name: anim1;
    animation-iteration-count: 3;
}

.anim2{
    animation-delay: 3.25s;
    animation-duration: 1s;
    animation-name: anim2;
    animation-iteration-count: 3;
}

    .anim22{
        animation-delay: 3.25s;
        animation-duration: 1s;
        animation-name: anim22;
        animation-iteration-count: 3;
    }

    .anim23{
        animation-delay: 3.25s;
        animation-duration: 1s;
        animation-name: anim23;
        animation-iteration-count: 3;
    }

.anim3{
    animation-delay: 6.5s;
    animation-duration: 1s;
    animation-name: anim3;
    animation-iteration-count: 3;
}

    .anim32{
        animation-delay: 6.5s;
        animation-duration: 1s;
        animation-name: anim32;
        animation-iteration-count: 3;
    }

    .anim33{
        animation-delay: 6.5s;
        animation-duration: 1s;
        animation-name: anim33;
        animation-iteration-count: 3;
    }


.anim4{
    animation-delay: 9.75s;
    animation-duration: 2s;
    animation-name: anim4;
    animation-iteration-count: 3;
}

    .anim42{
        animation-delay: 9.75s;
        animation-duration: 2s;
        animation-name: anim42;
        animation-iteration-count: 3;
    }

    .anim43{
        animation-delay: 9.75s;
        animation-duration: 2s;
        animation-name: anim43;
        animation-iteration-count: 3;
    }

.anim5{
    animation-delay: 15.75s;
    animation-duration: 1s;
    animation-name: anim5;
    animation-iteration-count: 2;
}

.anim6{
    animation-delay: 17.75s;
    animation-duration: 1s;
    animation-name: anim6;
    animation-iteration-count: 4;
}

.anim7{
    animation-delay: 21.75s;
    animation-duration: 1s;
    animation-name: anim3;
    animation-iteration-count: 3;
}

    .anim72{
        animation-delay: 21.75s;
        animation-duration: 1s;
        animation-name: anim32;
        animation-iteration-count: 3;
    }

    .anim73{
        animation-delay: 21.75s;
        animation-duration: 1s;
        animation-name: anim33;
        animation-iteration-count: 3;
    }


@keyframes anim1 {
    from{
        top: 3%; 
        right: 36%; 
        background-image: url(./Imagenes/mano.png); 
        background-size: 5em; 
        width:3em;
        height: 6em;
    }
    50%  {top: 0%; right: 33%; background-image: url(./Imagenes/mano.png); background-size: 5em; width:3em; height: 6em;}
    100% {top: 3%; right: 36%; background-image: url(./Imagenes/mano.png); background-size: 5em; width:3em; height: 6em;}
}



@keyframes anim2 {
    from{
        top: 37%; 
        right: 53%; 
        background-image: url(./Imagenes/mano.png); 
        background-size: 5em; 
        width:3em;
        height: 6em;
    }
    50%  {top: 37%; right: 48%; background-image: url(./Imagenes/mano.png); background-size: 5em; width:3em; height: 6em;}
    100% {top: 37%; right: 53%; background-image: url(./Imagenes/mano.png); background-size: 5em; width:3em; height: 6em;}
}

    @keyframes anim22 {
        from{
            top: 37%; 
            right: 45%; 
            background-image: url(./Imagenes/mano.png); 
            background-size: 5em; 
            width:3em;
            height: 6em;
        }
        50%  {top: 37%; right: 40%; background-image: url(./Imagenes/mano.png); background-size: 5em; width:3em; height: 6em;}
        100% {top: 37%; right: 45%; background-image: url(./Imagenes/mano.png); background-size: 5em; width:3em; height: 6em;}
    }

    @keyframes anim23 {
        from{
            top: 37%; 
            right: 50%; 
            background-image: url(./Imagenes/mano.png); 
            background-size: 5em; 
            width:3em;
            height: 6em;
        }
        50%  {top: 37%; right: 45%; background-image: url(./Imagenes/mano.png); background-size: 5em; width:3em; height: 6em;}
        100% {top: 37%; right: 50%; background-image: url(./Imagenes/mano.png); background-size: 5em; width:3em; height: 6em;}
    }




@keyframes anim3 {
    from{
        top: 25%; 
        right: 17%; 
        background-image: url(./Imagenes/mano.png); 
        background-size: 5em; 
        width:3em;
        height: 6em;
    }
    50%  {top: 25%; right: 14%; background-image: url(./Imagenes/mano.png); background-size: 5em; width:3em; height: 6em;}
    100% {top: 25%; right: 17%; background-image: url(./Imagenes/mano.png); background-size: 5em; width:3em; height: 6em;}
}

    @keyframes anim32 {
        from{
            top: 25%; 
            right: 10%; 
            background-image: url(./Imagenes/mano.png); 
            background-size: 5em; 
            width:3em;
            height: 6em;
        }
        50%  {top: 25%; right: 7%; background-image: url(./Imagenes/mano.png); background-size: 5em; width:3em; height: 6em;}
        100% {top: 25%; right: 10%; background-image: url(./Imagenes/mano.png); background-size: 5em; width:3em; height: 6em;}
    }

    @keyframes anim33 {
        from{
            top: 25%; 
            right: 20%; 
            background-image: url(./Imagenes/mano.png); 
            background-size: 5em; 
            width:3em;
            height: 6em;
        }
        50%  {top: 25%; right: 17%; background-image: url(./Imagenes/mano.png); background-size: 5em; width:3em; height: 6em;}
        100% {top: 25%; right: 20%; background-image: url(./Imagenes/mano.png); background-size: 5em; width:3em; height: 6em;}
    }


@keyframes anim4 {
    from{
        top: 30%; 
        right: 23%; 
        background-image: url(./Imagenes/mano.png); 
        background-size: 5em; 
        width:3em;
        height: 6em;
    }
    50%  {top: 52%; right: 38%; background-image: url(./Imagenes/mano.png); background-size: 5em; width:3em; height: 6em;}
    100% {top: 30%; right: 23%; background-image: url(./Imagenes/mano.png); background-size: 5em; width:3em; height: 6em;}
}

    @keyframes anim42 {
        from{
            top: 30%; 
            right: 18%; 
            background-image: url(./Imagenes/mano.png); 
            background-size: 5em; 
            width:3em;
            height: 6em;
        }
        50%  {top: 52%; right: 33%; background-image: url(./Imagenes/mano.png); background-size: 5em; width:3em; height: 6em;}
        100% {top: 30%; right: 18%; background-image: url(./Imagenes/mano.png); background-size: 5em; width:3em; height: 6em;}
    }

    @keyframes anim43 {
        from{
            top: 30%; 
            right: 28%; 
            background-image: url(./Imagenes/mano.png); 
            background-size: 5em; 
            width:3em;
            height: 6em;
        }
        50%  {top: 52%; right: 43%; background-image: url(./Imagenes/mano.png); background-size: 5em; width:3em; height: 6em;}
        100% {top: 30%; right: 28%; background-image: url(./Imagenes/mano.png); background-size: 5em; width:3em; height: 6em;}
    }

    @keyframes anim5 {
        from{
            top: 3%; 
            right: 36%; 
            background-image: url(./Imagenes/mano.png); 
            background-size: 5em; 
            width:3em;
            height: 6em;
        }
        50%  {top: 0%; right: 33%; background-image: url(./Imagenes/mano.png); background-size: 5em; width:3em; height: 6em;}
        100% {top: 3%; right: 36%; background-image: url(./Imagenes/mano.png); background-size: 5em; width:3em; height: 6em;}
    }

    @keyframes anim6{
        from{bottom: 10%;right: 17%;background-image: url(./Imagenes/mano.png);background-size: 5em;width:3em;height: 6em;}
        50%  {bottom: 10%;right: 17%; background-image: url(./Imagenes/mano.png);;background-size: 4em; width: 2em;height: 5em;}
        100% {bottom: 10%;right: 17%; background-image: url(./Imagenes/mano.png); background-size: 5em; width:3em; height: 6em;}
     }