*{
    text-transform: uppercase;
    font-weight: bold;

}


html{
    background-image: url("./Imagenes/image-from-rawpixel-id-513083-jpeg.jpg");
    background-size: 40em;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


body{
    background-color: #fff9d2;
    margin:1em 2em;
    padding: 1em;
}
   
   
h1{
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 4.5em;
    margin: .125em 0;
}

main{
    display: flex;
    justify-content: space-around;
    height: 32em;
}

    main > div{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    main>div>figure:first-of-type{
        margin-right: 0px;
    }


label{
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 4em;
    margin-right: .5em;
    margin-left: 0.25em;
}

figure{
    margin-top: 0.5em;
    height: 15em;
}



#operacion{
    margin: 0.25em auto 0.5em auto;
    display: flex;
    align-items: center;
}
#operacion>label{
    font-size: 3em !important;
    font-family: 'Sacramento', cursive !important;
}
#seleccion>span>button{
    font-size: 2.5em !important;
    font-family: 'Sacramento', cursive !important;
}

#operacion>label{
	 font-family: 'Sacramento', cursive;
}




#contenedor{
    display: flex;
    margin: auto;
}

    #seleccion{
        display: flex;
        flex-direction: column;
        margin-left: .5em;
    }

            #seleccion > span > button {
                margin: 0.25em 0.25em;
                font-size: 2.5em;
                font-weight: bold;
                padding:  0.25em 0.5em 0.125em 0.5em;
                border: none;
                background-color: #F5F6CE;
                border-radius: 10px;
                box-shadow: 0px 3px 5px 2px #aaa;
                cursor: pointer;
                width: 2em;
            }

            #seleccion > span > button:hover{
                 box-shadow: 0px 0px;
            }





    #saco{
        margin-top: 1em;
        margin-right: 2em;
        width: 30em;
    }

        #saco>img{
                width: 20em;
                margin: 2em 3em;
        }

        #saco>img:hover{
            width: 22.5em;
            margin: 1.5em;
            cursor: pointer;
        }

	#saco>label{
		font-size: 2.5em !important;
		padding-right: 2.25em;
	}




body>div{
    display: flex;
    justify-content: space-around;
}

    #volver, #corregir, #ayuda{
        font-size: 2em;
		font-weight: bold;
		padding: .25em;
        width: 5em;
        cursor: pointer;
    	font-family: 'Amatic SC', cursive;
    }





.seleccionado{
    background-color: #F5DA81 !important;
    box-shadow: none !important;
}


.acertaste{
	background-color: #BCF5A9 !important;
}

.swal-modal{
    height: fit-content !important;
    margin: auto;
}
div.swal-footer{
    text-align: center !important;
}
.swal-button,.swal-button:focus{
    background-color: #ffc577;
    box-shadow: 0px 5px 10px 5px #aaa; 
}
.swal-button:hover{
    background-color: #ffb959 !important;
    border-color: #ffb959 !important;
    box-shadow: 0px 0px !important;
}
h1,#saco>label,body>div:last-of-type>input,#rejugar{
    font-family: 'Amatic SC', cursive;
}

#rejugar{
    display: none;
}

.boton{
    float: right;
    margin: 0.5em;
    font-size: 2em;
    padding: 0.3em 0.5em;
    border-radius: 5px;
    background-color: #b5e8ff;
    border-color: #b5e8ff;
    font-weight: bold; 
    box-shadow: 0px 5px 10px 5px #aaa; 
    font-family: 'Amatic SC', cursive !important;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.boton:hover{
    background-color: #87d9ff;
    border-color: #87d9ff;
    box-shadow: 0px 0px;
}
