*{
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
}

html{
    background-image: url("./Imagenes/image-from-rawpixel-id-513083-jpeg.jpg");
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body{
    background-color: #fff1d2;
    border-radius: 10px;
    padding: 1.5em;
    margin: 2em;
}


h1{
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 4em;
    margin: .125em 0;
}


#enunciado{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#monedero{
    background-image: url("./Imagenes/monedero.png");
    background-size: 21em auto;
    height: 18em;
    width: 21em;
}

    #monedero>div{
        width: 14.5em;
        height:10em;
        margin-left: 3em;
        margin-right: 3em;
        margin-top: 6em;
        margin-bottom: 1em;
        text-align: center;
        border-radius: 10px;
        border: 0.2em dashed #2176ff;
    }


#objeto{
    width: 20em;
    display: flex;
    flex-direction: column;
    padding: auto;
}

    #objeto>img{
        height: 12em;
        width: 14em;
    }

    #etiqueta{
        background-image: url("./Imagenes/etiqueta.png");
        height: 4em;
        background-size: 14em 6em; 
        width: 8em;
        padding: 1em 2em;
        margin-left: 1em;
    }

    #etiqueta>p{
        text-align: center;
        font-size: 3em;
        margin: 0;
    }


        
/*****************************************/

#pregunta{
    margin-top: 1em;
}

#pregunta>div{
    font-size: 3em;
    margin: 0;
    text-align: center
}

.segunda{
    margin-top: .5em !important;
    background-color: #5eccff;
    border: dashed #008cff 3px;
    border-radius: 10px;
}

.segunda>p{
    font-size: 0.5em;
    font-weight: bold;
}

button{
    margin: 0.25em 0.25em;
    font-size: 1.125em;
    font-weight: bold;
    padding:  0.25em 0.75em 0.125em 0.75em;
    border: none;
    background-color: #F5F6CE;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 2px #aaa;
    cursor: pointer;
    width: 2.5em;
}


.segunda{
    background-color: #DDD;
    height: 3em;
    margin: 0.25em 1em !important;
    border-radius: 1em;
}



#pregunta{
    text-align: center;
    margin: 0;
    margin-top: 1em;
}

#pregunta>div>label{
    font-size: .5em;
    position: relative;
    top: -15px; 
}


body>div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2em;
}

body>div>input{
    font-size: 2em;
    font-weight: bold;
    padding: .25em;
    width: 5em;
    cursor: pointer;
    font-family: 'Amatic SC', cursive;
}

.moneda5{
    width: 5em;
    height: auto;
}

.moneda1{
    width: 4em;
    height: auto;
}

.moneda2{
    width: 4.5em;
    height: auto;
}

.oculto{
    display: none;
}

.monedero-hover, .conten-hover{

    background-color: #75aaff !important;
    font-weight: 100;
}



.swal-button{
    width: auto;
}
.swal-modal{
    height: fit-content;
}

.boton{
    float: right;
    margin: 0.5em;
    font-size: 2em;
    padding: 0.3em 0.5em;
    border-radius: 5px;
    background-color: #b5e8ff;
    border-color: #b5e8ff;
    font-weight: bold; 
    box-shadow: 0px 5px 10px 5px #aaa; 
    font-family: 'Amatic SC', cursive !important;
    cursor: pointer;
    text-decoration: none;
    color: black;
    width: fit-content;
}

.boton:hover{
    background-color: #87d9ff;
    border-color: #87d9ff;
    box-shadow: 0px 0px;
}